[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
// highlight-start
Environment=CART_HOST= {{ Cart_host }}
Environment=CART_PORT=8080
Environment=USER_HOST= {{ User_host }}
Environment=USER_PORT=8080
Environment=AMQP_HOST= {{ RabbitMQ_host }}
// highlight-end
Environment=AMQP_USER= {{ RabbitMQ_USER }}
Environment=AMQP_PASS= {{ RabbitMQ_PASS }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target